html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white; }

body {
  margin: 0; }

header {
  background-color: #25343c;
  box-shadow: 0px 4px 10px 4px #0000003b; }
  header a {
    text-decoration: none;
    color: white; }

.sign-container {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .sign-container div {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .sign-container h1 {
    margin: 0.5rem; }
  .sign-container a {
    display: inline-block;
    padding: 0.8rem;
    margin: 0.5rem;
    border: solid white 2px;
    border-radius: 0.5rem;
    transition-duration: 0.2s;
    transition-timing-function: linear; }
    .sign-container a:hover {
      color: black;
      background-color: white; }

@media screen and (max-width: 576px) {
  .sign-container h1 {
    display: none; } }
