<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href='/css/practice.css'>
</head>
<body>
    <h1>Contacts List</h1>

    <ul>
        <% for(let contact of contact_list) { %>
            <li>
                <p> <%= contact.name %> </p>
                <p> <%= contact.phone %> </p> 
            </li>
        <% } %>  
    </ul>

    <form action = "/create-contact" method = "POST">
        <div>
            <input type = "text" name = "name" placeholder="Enter name" required>
        </div>
        <div>
            <input type="number" name = "phone" placeholder="Enter Phone No." required>
        </div>
        <div>
            <button type = "submit">Submit</button>
        </div>
    </form>

    <script src = '/js/practice.js'></script>
</body>
</html>