html{
    scroll-behavior: smooth;
}

*{
    font-family: sans-serif;
}

body{
    margin: 0px;
}

header{
    background-image: url("https://wallpaperaccess.com/full/279547.jpg");
    height: 70vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    opacity: 0.9;
}

a{
    text-decoration: none;
    color: white;
}

/* Navbar ul */

#nav-section>ul{
    list-style: none;
    margin: 0;
    padding: 0;
    /* width: 500px; */
    /* height: 100%; */
    white-space: nowrap;
    overflow: auto;
}

#nav-section>ul li{
    display: inline-block;
    padding: 1.2em;
}

#nav-section>ul a{
    transition: color 0.5s, border 0.5s;
}

#nav-section>ul a:hover{
    border-bottom: solid white 1px;
    color: lightgray;
}

.text-center{
    text-align: center;
}

#my_name{
    color: white;
    font-size: 3.5rem;
    margin-top : 4.5rem
}

.social-icons{
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.social-icons li{
    display: inline-block;
    margin-left: 1.2rem;
}

.social-icons li a{
    font-size: 1.3rem;
    padding: 0.5rem;
    transition: box-shadow 0.3s;
    border-radius: 50%;
}

.social-icons li a:hover{
    box-shadow: 0 0 6px 4px rgba(230,196,196,0.2);
}

#img-container{
    margin-top: 1rem;
}

#img-container img{
    border-radius: 50%;
    border: solid lightgray 2px;
    box-shadow: 0 0 6px 4px rgba(219, 211, 211, 0.548);
    transition: box-shadow, 0.5s;
    position: relative;
}

#img-container img:hover{
    box-shadow: 0 0 6px 10px rgba(219, 211, 211, 0.548);   
}

#about{
    margin-top: -10rem;
}

#about-content{
    /* margin-left: 10%;
    margin-right: 10%; */
    width: 70%;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: justify;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-heading{
    color: #429bb8;
    font-size: 2.5rem;
}

.skill-bar{
    margin: 2rem;
}

.skill-outer{
    width: 10rem;
    height: 2rem;
    background-color: lightgray;
    border-radius: 1rem;
}

.skill-inner{
    height: 100%;
    border-radius: 1rem 0 0 1rem;
}

.skill-inner>h1{
    margin: 0;
    margin-left: 5%;
    /* margin: auto; */
    font-size: 1.3rem;
    color: white;
}

.skills-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 80%;
}

.ninety-percent{
    width: 90%;
}

.eighty-percent{
    width: 80%;
}

.seventy-percent{
    width: 70%;
}

.eighty-five-percent{
    width: 85%;
}

.seventy-five-percent{
    width: 75%;
}

.bg-blue{
    background-color: blue;
}

.bg-green{
    background-color: green;
}

.bg-gray{
    background-color: gray;
}

.bg-yellow{
    background-color: rgb(253, 215, 1);
}

.bg-sea{
    background-color: darkseagreen;
}

.bg-brown{
    background-color: brown;
}

section:nth-child(2n){
    background-color: rgb(245,245,245);
}

#contact{
    background: linear-gradient(to top right, #2857a4, #403066);
}

#contact>h1{
    color: white;
}

#contact-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 80%;
    color: white;
}

input, textarea{
    width: 100%;
    font-size: 1.2rem;
    margin: 1rem 1rem 1rem 0;
}

input {
    height: 2rem;
    color: white;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    border-bottom: solid white 2px;
    outline: none;
    background-color: transparent;
}

textarea{
    resize: none;
    color: white;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    border-bottom: solid white 2px;
    outline: none;
    background-color: transparent;
}

#send-msg, #my-details{
    padding: 1rem;
}

#send-msg{
    margin: 1rem;
    width: 50%;
}

#my-details{
    margin: 1rem;
    width: 50%;
}

#my-details>h2{
    margin: 0;
}
button[type="submit"]{
    all: unset;
    font-weight: bold;
    cursor: pointer;
    padding: 0.8rem;
    border: solid white 5px;
    border-radius: 7px;
}