<link rel="stylesheet" href="/css/home.css">
<div id = "particles-js">

</div>

<main>
    <div class = "homepage-container">
        <div class = "homepage-content">
            <h1>Welcome to Codeial!</h1>
            <p>Start your journey into this virtual world!</p>
            <a href="/signup" id = "register-btn">Register Now</a>
        </div>
        <div class = "homepage-bg">

        </div>
    </div>
</main>

<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="/js/home.js"></script>