<link rel="stylesheet" href="/css/user_sign_in.css">

<div class = "user-heading">
    <h1>Login</h1>
</div>
<div class = "outer-wrapper">
    <form action = "/signin" method = "POST">
        <div>
            <div class = "label-wrapper">
                <label for="email">Email Address</label>
            </div>
            <input type = "email" id = "email" name = "email" required>
        </div>
        <div>
            <div class = "label-wrapper">
                <label for="password">Password</label>
            </div>
            <input type="password" id = "password" name = "password" required>
        </div>
        <div class = "submit-container">
            <button type = "submit">Login <i class="fas fa-arrow-right"></i></button>
        </div>
    </form>
</div>