<link rel="stylesheet" href="/css/users.css">

<main>
    <section class = "post-section">
        <form action = "/posts" method = "POST">
            <div>
                <h2>What's in your Mind?</h1>
            </div>
            <div>
                <textarea name="content" cols="30" rows="3" placeholder = "Post Something..." required></textarea>
            </div>
            <div>
                <input type = "submit" value = "Post">
            </div>
        </form>
    </section>
</main>