p{
    /* color : blue; */
    font-size: 20px;
}

/* grouping */

p, .uppercase{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.uppercase{
    text-transform: uppercase;
}

li h4{
    color : cyan;
}

li .uppercase{
    color: orangered;
}

.cursive{
    font-family: sans-serif;
}

#blog-desc{
    color : #314831;
}

#blog-title:hover{
    color:orange;
}